*.class
*.pyc
.idea/*
.metadata/*
Vagrant/*
RemoteSystemsTempFiles/*
*/.vagrant/*
Proyecto/Informes/*
Proyecto/Vagrant/*
Proyecto/Apps/.idea/workspace.xml
Proyecto/Apps/.idea/modules.xml
Proyecto/Apps/.idea/misc.xml
Proyecto/Apps/.idea/Apps.iml
Proyecto/.idea/workspace.xml
Proyecto/.idea/Tesis.iml
Appsc.tar.gz
.idea/misc.xml
.idea/Tesis.iml
AWS_IaC/__pycache__/
AWS_IaC/access_policy_helpers.pyc
AWS_IaC/environment_instance.pyc
AWS_IaC/stack_helpers.pyc
Apps/__pycache__/
Apps/iot_application/__pycache__/
Apps/iot_application/communication/__init__.pyc
Apps/iot_application/communication/__pycache__/
Apps/iot_application/communication/basecommunication.pyc
Apps/iot_application/communication/communicationclient.pyc
Apps/iot_application/communication/mqttclient.pyc
Apps/iot_application/gpio/__init__.pyc
Apps/iot_application/gpio/__pycache__/
Apps/iot_application/gpio/basegpio.pyc
Apps/iot_application/gpio/emulateddevice.pyc
Apps/iot_application/gpio/raspberrypi3.pyc
Apps/iot_application/iot_application.pyc
